<h1>Support your Local</h1>
<p>Welcome {{#if user}} {{user.username}} {{/if}} </p>

{{#unless user}}
<a href="/signup">Sign up</a> <br>
<a href="/login">Login</a>

{{else}}
<a href="/private">Private page</a>
<br>
<a href="/logout"> Logout</a>
{{/unless}}